<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <a class="navbar-brand" href="/">
            <img src="./logo.png" width="65px" alt="Logo TMS">
        </a>
    
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item p-2">
                    <a href="/actualites" class="nav-link <%=body=="actualites"?"active":""%>">Actualités</a>
                </li>
                <li class="nav-item p-2 dropdown">
                    <a class="nav-link dropdown-toggle <%=body=="lineup"?"active":""%>" href="#" id="navbarDropdownLineup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Line-up
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownLineup">
                        <a class="dropdown-item <%=body=="lineup" && lineup=="staff" ? "active" : ""%>" href="/lineup?lineup=staff">Staff</a>
                        <a class="dropdown-item <%=body=="lineup" && lineup=="tft" ? "active" : ""%>" href="/lineup?lineup=tft">TeamFight Tactics</a>
                        <a class="dropdown-item <%=body=="lineup" && lineup=="rl" ? "active" : ""%>" href="/lineup?lineup=rl">Rocket League</a>
                        <a class="dropdown-item <%=body=="lineup" && lineup=="lol" ? "active" : ""%>" href="/lineup?lineup=lol">League of Legends</a>
                    </div>
                </li>
                <li class="nav-item p-2">
                    <a href="/resultats" class="nav-link <%=body=="resultats"?"active":""%>">Résultats</a>
                </li>
                <li class="nav-item p-2">
                    <a href="/aboutus" class="nav-link <%=body=="aboutus"?"active":""%>">À propos</a>
                </li>
                <li class="nav-item p-2">
                    <a href="/stream" class="nav-link <%=body=="stream"?"active":""%>">Web TV</a>
                </li>
                <li class="nav-item p-2">
                    <button type="button" class="button">
                        <a href="/recrutement" class="nav-link <%=body=="recrutement"?"active":""%>">
                            Nous rejoindre
                        </a>
                    </button>
                </li>
            </ul>
        </div>
    
    </nav>
    </header>