<link rel="stylesheet" type="text/css" href="./styles/header.css" />
<header>
    <strong>
        <a href="/" class="<%=body=="index"?"selected":""%>"><img src="./logo.png" class="logo"/>ACCUEIL</a>
    </strong>
    <strong>
        <a href="/projets" class="<%=body=="projets"?"selected":""%>">PROJETS</a>
    </strong>
    <strong>
        <a href="/stream" class="<%=body=="stream"?"selected":""%>">STREAM</a>
    </strong>
    <strong>
        <a href="/membres" class="<%=body=="membres"?"selected":""%>">MEMBRES</a>
    </strong>
    <strong>
        <a href="/recrutement" class="<%=body=="recrutement"?"selected":""%>">RECRUTEMENT</a>
    </strong>
    <strong>
        <a href="/aboutus" class="<%=body=="aboutus"?"selected":""%>">A PROPOS</a>
    </strong>
</header>