<link rel="stylesheet" type="text/css" href="./styles/header.css" />
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <a class="navbar-brand" href="/">
            <img src="./logo.png" alt="Logo TMS" width="50px">
        </a>
    
        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav">
                <li class="nav-item p-2">
                    <a href="/actualites" class="nav-link <%=body=="actualites"?"active":""%>">ACTUALITES</a>
                </li>
                <li class="nav-item p-2 dropdown">
                    <a class="nav-link dropdown-toggle <%=body=="lineup"?"active":""%>" href="#" id="navbarDropdownLineup" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Line Up
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownLineup">
                        <a class="dropdown-item <%=body=="lineup" && lineup=="staff" ? "active" : ""%>" href="/lineup?lineup=staff">Staff</a>
                        <a class="dropdown-item <%=body=="lineup" && lineup=="tft" ? "active" : ""%>" href="/lineup?lineup=tft">TeamFight Tactics</a>
                        <a class="dropdown-item <%=body=="lineup" && lineup=="valo" ? "active" : ""%>" href="/lineup?lineup=valo">Valorant</a>
                        <a class="dropdown-item <%=body=="lineup" && lineup=="rl" ? "active" : ""%>" href="/lineup?lineup=rl">Rocket League</a>
                        <a class="dropdown-item <%=body=="lineup" && lineup=="lol" ? "active" : ""%>" href="/lineup?lineup=lol">League of Legends</a>
                    </div>
                </li>
                <li class="nav-item p-2">
                    <a href="/resultats" class="nav-link <%=body=="resultats"?"active":""%>">RESULTATS</a>
                </li>
                <li class="nav-item p-2">
                    <a href="/stream" class="nav-link <%=body=="stream"?"active":""%>">STREAM</a>
                </li>
                <%const listAboutus = new Array("aboutus", "projets", "recrutement", "coaching")%>
                <li class="nav-item p-2 dropdown">
                    <a class="nav-link dropdown-toggle <%=listAboutus.includes(body)?"active":""%>" href="#" id="navbarDropdownAboutus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        A PROPOS
                    </a>
                    <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdownAboutus">
                        <a class="dropdown-item <%=body=="aboutus"?"active":""%>" href="/aboutus">A Propos</a>
                        <a class="dropdown-item <%=body=="projets"?"active":""%>" href="/projets">Projets</a>
                        <a class="dropdown-item <%=body=="recrutement"?"active":""%>" href="/recrutement">Recrutement</a>
                        <a class="dropdown-item <%=body=="coaching"?"active":""%>" href="/coaching">Coaching</a>
                    </div>
                </li>
            </ul>
        </div>
    
    </nav>
    </header>