<!DOCTYPE html>
<html lang="fr">
<%
const pageName = new Map()
    .set("index", "Accueil")
    .set("actualites", "Actualités")
    .set("lineup", "Line-up")
    .set("stream", "Web TV")
    .set("aboutus", "A propos")
    .set("recrutement", "Nous rejoindre")
    .set("error", "Erreur 404")
%>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TMS - <%=pageName.get(body)%></title>

    <link rel="icon" type="image/png" href="./logo.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>    
    <link rel="stylesheet" type="text/css" href="./styles/segoeui.css" />  
    <link rel="stylesheet" type="text/css" href="./styles/index.css" />

    <!-- ALL THE SCRIPTS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://unpkg.com/@barba/core"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.4/gsap.min.js"></script>
    <script type="text/javascript" src="./scripts/dynamic.js" defer></script>
    <script type="text/javascript" src="./scripts/barba.js" defer></script>

</head>

<body data-barba="wrapper">
    <div class="loader"></div>

    <%-include("header")%>
    <br/>

    <div class="container" data-barba="container" data-barba-namespace="<%=body%>">
        <%-include(`../pages/${body}`)%>
    </div>

    <br/>
    <%-include("footer")%>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>