<h1>Le Staff</h1>
{{#each admins}}
    <table>
        <tr>
            <td>
                <img src="{{{getImage pseudo}}}" width="60"/>
            </td>
            <td>
                <strong>{{pseudo}}</strong><br/>
                {{#each roles}}
                    <i>{{this}}</i><br/>
                {{/each}}
            </td>
        </tr>
    </table>
    <br/>
    <br/>
{{/each}}

<h1>Les Joueurs</h1>
{{#each joueurs}}
    <table>
        <tr>
            <td>
                <img src="{{{getImage pseudo}}}" width="60"/>
            </td>
            <td>
                <strong>{{pseudo}}</strong><br/>
                {{#each roles}}
                    <i>{{this}}</i><br/>
                {{/each}}
            </td>
        </tr>
    </table>
    <br/>
    <br/>
{{/each}}