<h1 class="pt-5 pb-5">Actualités</h1>
<%for(const actualite of actualites){%>
    <div class="row actualite">
        <div class="col-md-3 p-2 text-center">
            <a href="/actualites?actu=<%=actualite.lien%>">
                <img src="<%=actualite.image ? actualite.image : "./logo.png"%>" class="img-fluid rounded" alt="Logo <%=actualite.titre%>"/>
            </a>
        </div>
        <div class="col-md-9 p-2">
            <h2><%=actualite.titre%></h2>
            <%=actualite.resume%>
            <br/><br/>
            <div class="actualite-part-bottom">
                <a href="/actualite?actu=<%=actualite.lien%>">
                    <button class="largeButton">
                        Lire l'article
                    </button>
                </a>
                <br/>
                <small><em><%=actualite.date%></em></small>
            </div>
        </div>
    </div>
<%}%>