<link rel="stylesheet" type="text/css" href="./styles/lineup.css" />
<%if(lineup != "lol"){%>
    <h1 class="pt-5 pb-5"><%=titre%></h1>
<%}%>

<div class="membres">
<%  
    let cpt = 1
    if(lineup == "lol"){
        cpt = 2
    }

    for(let i = 1 ; i <= cpt; i++){
        
        if(lineup == "lol"){
%>
            <h1 class="pt-5 pb-5"><%=titre%><br/>Équipe <%=i%></h1>
<%
        }        
        for(const membre of players){
            if(lineup == "staff" || ((lineup == "lol" && membre.nbEquipe == i) || (lineup != "lol" && membre[`${lineup}`] == true))){   
%>
                <div class="membre">
                    <div class="row">
                        <div class="col-3 pt-2 pb-2 pl-4">
                            <img src="<%=membre.image ? membre.image : "./logo.png"%>" height="80px" class="rounded-circle" alt="Logo <%=membre.pseudo%>"/>
                        </div>
                        
                        <div class="col-5 pt-2 pb-1 pl-4 text-left">
                            <h2 class="text-nowrap"><%=membre.pseudo%></h2>
                            <%if(membre.twitter){%>
                                <a href="<%=membre.twitter%>" target="_blank"><em class="fa fa-twitter fam"></em></a>
                            <%}%>
                            <%if(membre.facebook){%>
                                <a href="<%=membre.facebook%>" target="_blank"><em class="fa fa-facebook-square fam"></em></a>
                            <%}%>
                            <%if(membre.instagram){%>
                                <a href="<%=membre.instagram%>" target="_blank"><em class="fa fa-instagram fam"></em></a>
                            <%}%>
                            <%if(membre.twitch){%>
                                <a href="<%=membre.twitch%>" target="_blank"><em class="fa fa-twitch fam"></em></a>
                            <%}%>
                        </div>

                        <div class="col-4 pt-1 pb-1 pr-4 text-right">
<%
                            for(const role of membre.roles){
                                if(role != "Community Manager"){
%>
                                <small><em><%=role%></em></small><br/>       
<%
                                }else{
%>
                                <small><em>Community</em> <em class="cm">Manager</em></small><br/>       
<%                               
                                }
                            }
                            if(lineup == "lol"){
%>
                                <small><em><%=membre.roleEquipe%></em></small><br/>
<%
                            }
%>
                        </div>
                    </div>
                </div>
<%
            }
        }
    }
%>
</div>